.bigCounter {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 60px;
}

.bigCounter div {
    display: inline-block;
    line-height: 60px;
    margin: 3px;
}